

body {
	background-color: #F8F5E5;
	font-family:proxima-nova-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #1D261F;
}

h1 {
	font-family: minion-3-display, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3.75em;
	line-height: 0px;
}

h2 {
	font-family:proxima-nova-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #1D261F;
	line-height: 13px;
}

h3 {
	font-family: minion-3-display, serif;
	font-style: normal;
	font-size: 2.5em;
	line-height: 0px;
}

h4 {
	font-size: 18px;
	line-height: .8em;
	margin-bottom: 0px;
}

h5 {
	font-weight: 500;
	font-size: 16px;
	line-height: .8em;
	margin-bottom: 0px;
	margin-top: 18px;
}

p {
	font-size: 14px;
	line-height: 1em;
	margin-top: 6px;
	margin-bottom: 0px;
}


hr {
	width: 60vw;
	color: #1D261F;
	border-top: .5px solid;
}

a {
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #47682C;
}

.container {
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
}

.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	height: 92px;
}

.headertextleft {
	flex-basis: 60%;
	align-self: flex-end;
}

.headertextright {
	flex-basis: 40%;
	align-self: flex-end;
}

#name {text-align: left;}
#title {text-align: right;}

hr.one {
	position: relative;
	top: -25px;
	z-index: -1;
}

.bio {
	position: relative;
	bottom: 12px;
	height: auto;
}

#bio {
	line-height: 1.2em;
}

hr.two {
	position: relative;
	bottom: -10px;
}

.bod {
	height: 850px;
	display: flex;
	flex-direction: row wrap;
	justify-content: space-between;
	align-content: stretch;
	padding-bottom: 20px;
	padding-top: 20px;
}

.left {
	flex-basis: 50%;
	border-right-color: #1D261F;
	border-right: 1px solid;
	margin-right: 20px;
	padding-right: 15px;
	overflow: scroll;
}

.right {
	flex-basis: 50%;
	padding-right: 15px;
	overflow: scroll;
}

.employer {
	margin-top: 4px;
}

.date {
	font-size: .7em;
}

.footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	border-top: 1px solid;
	border-top-color: #1D261F;
}

.foot {
	flex-basis: auto;
}

#number {
	text-align: left;
}

#website {
	text-align: center;
}

#email {
	text-align: right;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) { 

.container {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
}  
	  
.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	height: 92px;
}

.headertextleft {
	flex-basis: 60%;
	align-self: flex-end;
}

.headertextright {
	flex-basis: 40%;
	align-self: flex-end;
}

#name {
	text-align: left;
	font-size: 2.5em;
}
#title {
	text-align: right;
	font-size: 1em;
}	  
	
hr {
	width: 80vw;
}	
	
hr.one {
	position: relative;
	top: -20px;
	z-index: -1;
}	
	
.bod {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
	padding-bottom: 20px;
	padding-top: 20px;
}

.left {
	flex-basis: 50%;
	border-right: none;
	overflow: visible;
}	
	
.right {
	margin-top: 15px;
	flex-basis: 50%;
	overflow: visible;
}	

.footer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
	height: 60px;
	border-top: 1px solid;
	border-top-color: #1D261F;
	padding-top: 15px;
	padding-bottom: 15px;
}	
	
.foot {
	flex-basis: auto;
	text-align: left;
}
	
#website {
	margin-top: 5px;		
}	
}

@media (max-width: 890px) { 

.container {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-start;
}  
	  
.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	height: 92px;
}

.headertextleft {
	flex-basis: 60%;
	align-self: flex-end;
}

.headertextright {
	flex-basis: 40%;
	align-self: flex-end;
}

#name {
	text-align: left;
	font-size: 2.5em;
}
#title {
	text-align: right;
	font-size: 1em;
}	  
	
hr {
	width: 80vw;
}	
	
hr.one {
	position: relative;
	top: -20px;
	z-index: -1;
}	
	
.bod {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
	padding-bottom: 20px;
	padding-top: 20px;
}

.left {
	flex-basis: 50%;
	border-right: none;
	overflow: visible;
}	
	
.right {
	margin-top: 15px;
	flex-basis: 50%;
	overflow: visible;
}	

.footer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
	height: 60px;
	border-top: 1px solid;
	border-top-color: #1D261F;
	padding-top: 15px;
	padding-bottom: 15px;
}	
	
.foot {
	flex-basis: auto;
	text-align: left;
}
	
#website {
	margin-top: 5px;		
}	
}
